/* This text is in Open Sans */
body { 
	font-family: Open Sans !important; 
}

header{
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url(../banner.jpg) no-repeat bottom fixed;
  	background-size: cover;
  	padding: 204px 0 100px;
}

h1{
	line-height: 1.5;
}

h4 {
	font-family: "Open Sans";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 12px;
}

p {
	font-family: "Open Sans";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

/*.footer_privacy{
	color
}*/

.search{
	padding: 180px 0;
}

.show-results{
	padding: 50px 0;	
}

.lead{
	font-size: 14px;
}

.logo-text{
	text-transform: uppercase;
	letter-spacing: 5px;
}

.displaynone{
	display: none;
}

.modal {
  text-align: center;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*------------------------------------------------------------------
[ Button Login with ]*/

.btn-login-with {
  color: #fff;
  line-height: 1.2;
  background-color: #3b5998;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 40px;
  border-radius: 5px;
}

.btn-login-with i {
  font-size: 20px;
  margin-right: 10px;
}

.btn-login-with:hover {
  color: #fff;
  background-color: #363C42;
  text-decoration: none;
}


@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

@media (min-width: 992px){
	.header {
	    padding: 206px 0 100px;
	}	
}




